:root {
    --controls-color: red;
    --square-elements-wh: 15px;
}

body{
    /*padding:30px;*/
    background-color: #002137;
}

.block_body {
    /*background: url('1612672108_226-p-krasivii-zelenii-fon-dlya-gacha-laif-240.jpg') no-repeat, url('1619278407_4-phonoteka_org-p-anime-fon-ulitsa-dozhd-4.jpg')  no-repeat;*/
}





a{
    color:#fff;
    text-decoration: none;
}

.header {
    display: flex; /*выстроение в ряд*/
    justify-content: space-between; /*space-around - пространство слева и справа*//*пространство между флекс элементами*/
    padding: 60px; /*высота аниме девушки*/
    /* background: #689CD2;*/
    background: url('thumb-1920-35538.png'); /*сама аниме девушка*/
    background-repeat: no-repeat; /*изображение без повторений*/
    color: #fff;
    font-family: cursive; /*стиль записи*/
}

.header_selection {
    display: flex; /*выстроение в ряд*/
    align-items: center;/* высота по вертикали в данном случае картинки*/
}

.header_item { /*размеры текста*/
    padding: 15px 15px; /*размер задней подсветки*/
    font-size: 15px; /*размерзадней картины с аниме девушкой*/
    margin-left: 5px; /*растояние между кнопками*/
}

    .header_item:hover { /*задняя подсветка кнопок при наведении курсора*/
        background-color: #FF9900;
        border-radius: 10px;
    }


.main-heading, .posts-heading {
    text-align: center;
    margin: 0;
    margin-bottom: 15px;
}


.day-post {
    width: 90%;
    margin: 0 auto;
    background-color: #275777;
    text-align: center;
    margin-bottom: 30px;
    padding: 10px;
}

.article-heading {
    font-size: 28px;
    margin: 0;
    margin-bottom: 15px;
}

.article-content > img {
    max-width: 100%;
    max-height: auto;
}

.article-content-image {
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
    background-color: #d9ecc7;
    box-shadow: 3px 3px 5px gray;
    padding: 15px;
}

    .article-content-image img {
        max-width: 100%;
        max-height: auto;
    }

.article-content-image-caption {
    margin-top: 5px;
    font-size: 14px;
    color: grey;
}

.size_picture{
    height:400px;
    width:auto;
}


.posts {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-around;
}



/*-------------------------------------------------------------------------------------------------------------*/

.comments{
    display: flex;
    object-position:center;
}


/*-----------------------------------------------------------------------------------------------------------------*/

footer {
    display: flex;
    height: 8vh;
    width: 100vw;
    background-image: url("460357281338512b9a1c775cacf6d76e.jpg");
    background-position: center center;
    background-size: auto 100%;
    padding: 40px;
    
}

.footer__logo {
    font-size: 30px;
    color: darkgrey;
    padding-top: 10px;
    padding-left: 60px;
    display: inline-block;
}

fnav {
    margin-top: 20px;
    padding-left: 28%;
    font-size: 20px;
    display: block;
}

.Contacts a {
    display: inline-block;
    text-align: center;
    color: darkgrey;
    margin-left: 20px;
    font-size: 24px;
}